<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title><%= titel %></title>

	<%- include('partials/styles.ejs') %>

</head>
<body>
	
		<%- include('partials/logo.ejs') %>
	
		<%- include('partials/nav.ejs') %>
	
	<section>

		<h1><%= titel %></h1>

		<div>
			<p>this is contact</p>
		</div>

	</section>

	<footer>
		<%- include('partials/footer.ejs') %>
	</footer>
</body>
</html>